@using VD.Helper;
@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column flex-column-fluid">
	<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
			<!--begin::Page title-->
			<div class="page-title d-flex flex-column justify-content-center flex-wrap">
				<!--begin::Title-->
				<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Tables</h1>
				<!--end::Title-->
				<!--begin::Breadcrumb-->
				<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1 mb-5">
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">
						<a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Transaction</a>
					</li>
					<!--end::Item-->
				</ul>
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <input class="form-control me-2" id="FDate" name="Date" />
                        <input class="form-control me-2" id="SBrand" name="Brand" />
                        <input class="form-control me-2" id="SResult" name="Result" />
                        <button type="button" onclick="filterdate()" class="btn btn-primary"><i class="ki-solid ki-magnifier fs-3"></i></button>
                    </div>
                </div>
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page title-->
            
		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-toolbar" data-bs-placement="top" data-bs-trigger="hover" data-kt-initialized="1">
                        <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#TrancAddModal">
                            <i class="ki-duotone ki-plus fs-2"></i>Add
                        </a>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-3">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table id="TransactionList" class="table-hover table-rounded table-striped border gy-7 gs-7">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                    <th class="min-w-200px">Brand Name</th>
                                    <th class="min-w-50px">Date</th>
                                    <th class="min-w-50px">Result</th>
                                    <th class="min-w-50px">Action</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Table container-->
                </div>
                <!--begin::Body-->
            </div>
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->
</div>

@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "transaction-create"))
{
    @await Html.PartialAsync("~/Views/Transaction/Modal/TrancAddModal.cshtml")
}
@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "transaction-update"))
{
    @await Html.PartialAsync("~/Views/Transaction/Modal/TrancEditModal.cshtml")
}
@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "transaction-delete"))
{
    @await Html.PartialAsync("~/Views/Transaction/Modal/TrancDeleteModal.cshtml")
}

@section Scripts {
    @await Html.PartialAsync("~/Views/Helper/SelectDate.cshtml")
    @await Html.PartialAsync("~/Views/Transaction/JS/ModalAddJS.cshtml")
    @await Html.PartialAsync("~/Views/Transaction/JS/ModalEditJS.cshtml")
    @await Html.PartialAsync("~/Views/Transaction/JS/ModalDeleteJS.cshtml")

    <script>
        var start = moment().subtract(29, "days");
        var end = moment();

        function cb(start, end) {
            $("#FDate").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
        }

        $("#FDate").daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                "Today": [moment(), moment()],
                "Yesterday": [moment().subtract(1, "days"), moment().subtract(1, "days")],
                "Last 7 Days": [moment().subtract(6, "days"), moment()],
                "Last 30 Days": [moment().subtract(29, "days"), moment()],
                "This Month": [moment().startOf("month"), moment().endOf("month")],
                "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
            },
            "locale": {
                "format": "DD/MM/YYYY",
            },
        }, cb);

        cb(start, end);

        function filterdate() {
            var startDate = moment($("#FDate").data('daterangepicker').startDate).format("DD/MM/YYYY");
            var endDate = moment($("#FDate").data('daterangepicker').endDate).format("DD/MM/YYYY");
            var param = "?TracDateStart=" + startDate + "&TracDateEnd=" + endDate;
            TrancTab.ajax.url("@Url.Action("Transaction_Read", "Transaction")" + param).load();
        }
    </script>

    <script>
        var TrancTab
        $(document).ready(function () {
            reloadTable();
        });

        function reloadTable() {
            if (!TrancTab) {
                TrancTab = $('#TransactionList').DataTable({
                    "scrollX": true,
                    "processing": true,
                    "filter": false,
                    "stateSave": true,
                    "responsive": true,
                    "searching": false,
                    "serverSide": true,
                    "dom": 'Bfrtip',
                    "ajax": {
                        "url": "@Url.Action("Transaction_Read", "Transaction")",
                        "type": "POST",
                    },
                    "columns": [
                        { "data": "brand" },
                        { "data": "date" },
                        { "data": "result" },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                var btn = '';
                                btn += "<button class='btn btn-icon btn-bg-light btn-active-color-warning btn-sm me-1' onclick='edittrac(" + m.row + ")'><i class='ki-outline ki-pencil fs-2'></i></btn>";
                                btn += "<button class='btn btn-icon btn-bg-light btn-active-color-danger btn-sm' onclick='deld(" + m.row + ")'><i class='ki-outline ki-trash fs-2'></i></btn>";
                                return btn;
                            }
                        },
                    ],
                });
            } else {
                TrancTab.ajax.url("@Url.Action("Transaction_Read", "Transaction")").load();
            }
        }
    </script>
}