<!-- Modal Delete -->
<div class="modal modal-ix" tabindex="-1" id="TrancDeleteModal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content mx-3 text-center">
            @*<div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>*@
            <div class="modal-body p-3 m-3 fs-4 fw-semi-bold"></div>
            <div class="px-2 pb-3">
                <button type="button" class="mx-2 px-4 btn btn-sm btn-warning GMCCRJCT" data-dismiss="modal">Cancel</button>
                <button type="button" class="mx-2 px-4 btn btn-sm btn-success GMCCOK">Delete</button>
            </div>
        </div>
    </div>
</div>