<div class="modal fade" tabindex="-1" id="TrancAddModal" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Add Transaction</h3>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div class="modal-body">
                <form id="TrancAddForm" method="post" autocomplete="off">

                    <div class="form-row">
                        <div class="form-group col-12 col-md-12 mb-3" id="ABrandDiv">
                            <label class="form-label">Brand Name</label>
                            <select asp-items="@ViewBag.BrandList" class="form-select form-select-solid" Id="ABrandId" name="BrandId" required>
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label class="form-label">Date</label>
                            <input type="text" class="form-control form-control-solid" id="ADate" name="Date" placeholder="Input the date" required/>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label class="form-label">Result</label>
                            <input type="text" class="form-control form-control-solid" id="AResult" name="Result" placeholder="Result" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-success" onclick="submitTrancAdd()">Submit</button>
            </div>
        </div>
    </div>
</div>
