<!-- Modal Edit -->
<div class="modal fade" id="TrancEditModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Edit Transaction</h3>
                <div class="btn btn-icon btn-sm btn-active-light-warning ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div class="modal-body">
                <form id="TrancEditForm" method="post" autocomplete="off">
                    <input type="hidden" class="form-control" id="TrancEditId" name="id" required>

                    <div class="form-row">
                        <div class="form-group col-12 col-md-12 mb-3" id="EBrandDiv">
                            <label class="form-label">Brand Name</label>
                            <select asp-items="@ViewBag.BrandList" class="form-select form-select-solid" Id="EBrandId" name="BrandId" required>
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label class="form-label">Date</label>
                            <input type="text" class="form-control form-control-solid" id="DateEdit" name="Date" required>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label for="form-label" class="form-label">Result</label>
                            <input type="text" class="form-control form-control-solid" id="ResultEdit" name="Result" placeholder="Result" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-success" onclick="submitTrancEdit()">Edit</button>
            </div>

        </div>
    </div>
</div>