<!-- Modal Add -->
<div class="modal fade" id="AdminAddModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add Admin</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div class="modal-body">
                <form id="AdminAddForm" method="post" autocomplete="off">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control form-control-solid" id="Username" name="Username" placeholder="Username" required>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control form-control-solid" id="Password" name="Password" placeholder="Password" required>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <label for="Password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control form-control-solid" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control form-control-solid" id="Email" name="Email" placeholder="Email" required>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <label for="Status" class="form-label">Status</label>
                            <select class="form-select form-select-solid" id="Status" name="Status" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="ENABLED">ENABLED</option>
                                <option value="DISABLED">DISABLED</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <label for="Role" class="form-label">Role</label>
                            <select asp-items="@ViewBag.RoleList" id="Role" name="RoleId" class="form-select form-select-solid" required>
                                <option selected disabled value="">Choose...</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-success" onclick="submitAdminAdd()">Submit</button>
            </div>

        </div>
    </div>
</div>