<!-- Modal Change Password -->
<div class="modal fade" id="AdminChangePassword" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <div class="btn btn-icon btn-sm btn-active-light-info ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div class="modal-body">
                <form id="ChangePasswordForm" method="post" autocomplete="off">
                    <input type="hidden" class="form-control" id="AdminChangeId" name="id" required>

                    <div class="mb-3 col-12 col-md-12 col-xl-12">
                        <label for="Password" class="form-label">Old Password</label>
                        <input type="password" class="form-control form-control-solid" id="OldPassword" name="Password" readonly>
                    </div>

                    <div class="mb-3 col-12 col-md-12 col-xl-12">
                        <label for="Password" class="form-label">New Password</label>
                        <input type="password" class="form-control form-control-solid" id="NewPassword" name="ConfirmPassword" placeholder="Password" required>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success" onclick="submitChangePassword()">Submit</button>
            </div>

        </div>
    </div>
</div>