<!-- Modal Edit -->
<div class="modal fade" id="UpdateAccModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Update Account</h5>
                <div class="btn btn-icon btn-sm btn-active-light-success ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div class="modal-body">
                <form id="UpdateAccForm" method="post" autocomplete="off">
                    <input type="hidden" class="form-control" id="AccountId" name="id" required>

                    <div class="form-row">
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control form-control-solid" id="UsernameAcc" name="Username" required>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control form-control-solid" id="PasswordAcc" name="Password" autocomplete="new-password" minlength="8" required>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label for="Password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control form-control-solid" id="ConfirmPasswordAcc" name="ConfirmPassword" autocomplete="new-password" minlength="8" required>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="Email" class="form-control form-control-solid" id="EmailAcc" name="Email" required>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-2">
                            <label for="Status" class="form-label">Status</label>
                            <select class="form-select form-select-solid" id="StatusAcc" name="Status" required>
                                <option selected value="">Choose...</option>
                                <option value="ENABLED">ENABLED</option>
                                <option value="DISABLED">DISABLED</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-2">
                            <label for="Role" class="form-label">Role</label>
                            <select asp-items="@ViewBag.RoleList" id="RoleAcc" name="RoleId" class="form-select form-select-solid" required>
                                <option selected value="">Choose...</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success" onclick="submitAccount()">Edit</button>
            </div>

        </div>
    </div>
</div>