<!-- Modal Add -->
<div class="modal fade" id="BrandAddModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add Brand</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <div class="modal-body">
                <form id="BrandAddForm" method="post" autocomplete="off">
                    <div class="row">
                        <div class="col-12 col-md-12 mb-3">
                            <label for="Brand" class="form-label">Brand Name</label>
                            <input type="text" class="form-control form-control-solid" id="BrandName" name="Name" placeholder="Brand Name" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-success" onclick="submitBrandAdd()">Submit</button>
            </div>

        </div>
    </div>
</div>