@using VD.Helper;
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column flex-column-fluid">
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
		<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
			<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
				<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Tables</h1>
				<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
					<li class="breadcrumb-item text-muted">
						<a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Admin</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="kt_app_content" class="app-content flex-column-fluid">
		<div id="kt_app_content_container" class="app-container container-fluid">
            <div class="card mb-5 mb-xl-8">
                <div class="card-header border-0 bg-danger mb-3">
                    <div class="card-toolbar" data-bs-placement="top" data-bs-trigger="hover" data-kt-initialized="1">
                        <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#AdminAddModal">
                            <i class="ki-duotone ki-plus fs-2"></i>Add
                        </a>
                    </div>
                </div>
                <div class="card-body py-3">
                    <div class="table-responsive">
                        <table id="AdminList" class="table-hover table-rounded table-striped border gy-7 gs-7">
                            <thead>
                                <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                    <th class="min-w-200px">Username</th>
                                    <th class="min-w-150px">Email</th>
                                    <th class="min-w-300px">Status</th>
                                    <th class="min-w-200px">Role</th>
                                    <th class="min-w-150px">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "admin-add"))
{
    @await Html.PartialAsync("~/Views/Admin/Modal/AddModal.cshtml")
}
@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "admin-update"))
{
    @await Html.PartialAsync("~/Views/Admin/Modal/EditModal.cshtml")
}
@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "admin-changepassword"))
{
    @await Html.PartialAsync("~/Views/Admin/Modal/ChangePasswordModal.cshtml")
}
@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "admin-setpassword"))
{
    @await Html.PartialAsync("~/Views/Admin/Modal/UpdateAccModal.cshtml")
}

@section Scripts {
    @await Html.PartialAsync("~/Views/Admin/JS/ModalAddJS.cshtml")
    @await Html.PartialAsync("~/Views/Admin/JS/ModalChangePasswordJS.cshtml")
    @await Html.PartialAsync("~/Views/Admin/JS/ModalEditJS.cshtml")
    @await Html.PartialAsync("~/Views/Admin/JS/ModalUpdateAccJS.cshtml")
    <script>
        var AdminTab
        $(document).ready(function () {
            reloadTable();
        });

        function reloadTable(){
            if(!AdminTab){
                AdminTab = $('#AdminList').DataTable({
                    "scrollX": true,
                    "processing": true,
                    "filter": false,
                    "stateSave": true,
                    "responsive": true,
                    "searching": false,
                    "serverSide": true,
                    "dom": 'Bfrtip',
                    "ajax": {
                        "url": "@Url.Action("Admin_Read", "Admin")",
                        "type": "post",
                    },
                    "columns": [
                        { "data": "username" },
                        { "data": "email" },
                        { "data": "status" },
                        { "data": "role" },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                var btn = '';
                                btn += "<button class='btn btn-icon btn-bg-light btn-active-color-warning btn-sm me-1' onclick='editdata(" + m.row + ")'><i class='ki-outline ki-pencil fs-2'></i></btn>";
                                btn += "<button class='btn btn-icon btn-bg-light btn-active-color-info btn-sm me-1' onclick='changepassword(" + m.row + ")'><i class='ki-outline ki-lock fs-2'></i></btn>";
                                btn += "<button class='btn btn-icon btn-bg-light btn-active-color-success btn-sm' onclick='updateaccount(" + m.row + ")'><i class='ki-outline ki-user fs-2'></i></btn>";
                                return btn;
                            }
                        },
                    ],
                });
            } else {
                AdminTab.ajax.url("@Url.Action("Admin_Read", "Admin")").load();
            }
        }
    </script>

}