@using VD.Helper;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Button Create -->
<div class="top-panel">
    <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#AdminAddModal">Create</button>
</div>

<!-- Data Table List -->
<table id="AdminList" class="display" style="width:100%">
    <thead class="table-success">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Status</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Change Password</th>
            <th>Update Account</th>
        </tr>
    </thead>
</table>

@await Html.PartialAsync("~/Views/Admin/Modal/UpdateAccModal.cshtml")
@await Html.PartialAsync("~/Views/Admin/Modal/AddModal.cshtml")
@await Html.PartialAsync("~/Views/Admin/Modal/EditModal.cshtml")
@await Html.PartialAsync("~/Views/Admin/Modal/ChangePasswordModal.cshtml")

@section Scripts {
    @await Html.PartialAsync("~/Views/Admin/JS/ModalAddJS.cshtml")
    @await Html.PartialAsync("~/Views/Admin/JS/ModalChangePasswordJS.cshtml")
    @await Html.PartialAsync("~/Views/Admin/JS/ModalEditJS.cshtml")
    @await Html.PartialAsync("~/Views/Admin/JS/ModalUpdateAccJS.cshtml")
    <script>
        var AdminTab
        $(document).ready(function () {
            reloadTable();
        });

        function reloadTable(){
            if(!AdminTab){
                AdminTab = $('#AdminList').DataTable({
                    "scrollX": true,
                    "processing": true,
                    "filter": false,
                    "stateSave": true,
                    "responsive": true,
                    "searching": false,
                    "serverSide": true,
                    "dom": 'Bfrtip',
                    "ajax": {
                        "url": "@Url.Action("Admin_Read", "Admin")",
                        "type": "POST",
                        'datatype': 'json',
                    },
                    "columns": [
                        { "data": "username" },
                        { "data": "password" },
                        { "data": "email" },
                        { "data": "status" },
                        { "data": "roleId" },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                return "<div><a type='button' class='btn btn-warning btn-sm' onclick='editdata(" + m.row + ")'>Edit</a></div>";
                            }
                        },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                return "<div><a type='button' class='btn btn-info btn-sm' onclick='changepassword(" + m.row + ")'>Change Password</a></div>";
                            }
                        },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                return "<div><a type='button' class='btn btn-success btn-sm' onclick='updateaccount(" + m.row + ")'>Update Account</a></div>";
                            }
                        },
                    ],
                });
            } else {
                AdminTab.ajax.url("@Url.Action("Admin_Read", "Admin")").load();
            }
        }
    </script>
}