<div class="modal fade" id="SignOutModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center">SignOut Account</h1>
            </div>
            <div class="modal-body">
                Are you sure you want to SignOut?
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-danger" href="@Url.Action("Logout","Account")">SignOut</a>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
