@using VD.Helper;
@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column flex-column-fluid">
	<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
			<!--begin::Page title-->
			<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
				<!--begin::Title-->
				<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Tables</h1>
				<!--end::Title-->
				<!--begin::Breadcrumb-->
				<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
					<!--begin::Item-->
					<li class="breadcrumb-item text-muted">
						<a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Brand</a>
					</li>
					<!--end::Item-->
				</ul>
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page title-->
		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-fluid">
            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-toolbar" data-bs-placement="top" data-bs-trigger="hover" data-kt-initialized="1">
                        <a href="#" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#BrandAddModal">
                            <i class="ki-duotone ki-plus fs-2"></i>Add
                        </a>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-3">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table id="BrandList" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                            <!--begin::Table head-->
                            <thead >
                                <tr class="fw-bold text-muted">
                                    <th class="min-w-200px">Brand Name</th>
                                    <th class="min-w-150px">Createdby</th>
                                    <th class="min-w-150px">Created</th>
                                    <th class="min-w-150px">Updatedby</th>
                                    <th class="min-w-150px">Updated</th>
                                    <th class="min-w-100px">Actions</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Table container-->
                </div>
                <!--begin::Body-->
            </div>
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->
</div>

@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "brand-create"))
{
    @await Html.PartialAsync("~/Views/Brand/Modal/AddModal.cshtml")
}
@if(CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "brand-update"))
{
    @await Html.PartialAsync("~/Views/Brand/Modal/EditModal.cshtml")
}
@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "brand-delete"))
{
    @await Html.PartialAsync("~/Views/Brand/Modal/DeleteModal.cshtml")
}

@section Scripts {
    @await Html.PartialAsync("~/Views/Brand/JS/ModalAddJS.cshtml")
    @await Html.PartialAsync("~/Views/Brand/JS/ModalEditJS.cshtml")
    @await Html.PartialAsync("~/Views/Brand/JS/ModalDeleteJS.cshtml")
    <script>
        var BrandTab
        $(document).ready(function () {
            reloadTable();
        });

        function reloadTable(){
            if(!BrandTab){
                BrandTab = $('#BrandList').DataTable({
                    "scrollX": true,
                    "processing": true,
                    "filter": false,
                    "stateSave": true,
                    "responsive": true,
                    "searching": false,
                    "serverSide": true,
                    "dom": 'Bfrtip',
                    "ajax": {
                        "url": "@Url.Action("Profile_Read", "Brand")",
                        "type": "POST",
                        'datatype': 'json',
                    },
                    "columns": [
                        { "data": "name" },
                        { "data": "createdby" },
                        { "data": "created" },
                        { "data": "updatedby" },
                        { "data": "updated" },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                var btn = '';
                                btn += "<button class='btn btn-icon btn-bg-light btn-active-color-warning btn-sm me-1' onclick='editbrand(" + m.row + ")'><i class='ki-outline ki-pencil fs-2'></i></btn>";
                                btn += "<button class='btn btn-icon btn-bg-light btn-active-color-danger btn-sm' onclick='deletebrand(" + m.row + ")'><i class='ki-outline ki-trash fs-2'></i></btn>";
                                return btn;
                            }
                        },
                    ],
                });
            } else {
                BrandTab.ajax.url("@Url.Action("Profile_Read", "Brand")").load();
            }
        }
    </script>
}