@using VD.Helper;
@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Button Create -->
<div class="top-panel">
    <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#BrandAddModal">Create</button>
</div>


<!-- Data Table List -->
<table id="BrandList" class="display" style="width:100%">
    <thead class="table-success">
        <tr>
            <th>Brand Name</th>
            <th>Createdby</th>
            <th>Created</th>
            <th>Updatedby</th>
            <th>Updated</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>

@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "brand-create"))
{
    @await Html.PartialAsync("~/Views/Brand/Modal/AddModal.cshtml")
}
@if (CheckPerms.checkpermis(User.GetRole(), ViewBag.Perms, "brand-update"))
{
    @await Html.PartialAsync("~/Views/Brand/Modal/EditModal.cshtml")
}

@section Scripts {
    @await Html.PartialAsync("~/Views/Brand/JS/ModalAddJS.cshtml")
    @await Html.PartialAsync("~/Views/Brand/JS/ModalEditJS.cshtml")
    <script>
        var BrandTab
        $(document).ready(function () {
            reloadTable();
        });

        function reloadTable(){
            if(!BrandTab){
                BrandTab = $('#BrandList').DataTable({
                    "scrollX": true,
                    "processing": true,
                    "filter": false,
                    "stateSave": true,
                    "responsive": true,
                    "searching": false,
                    "serverSide": true,
                    "dom": 'Bfrtip',
                    "ajax": {
                        "url": "@Url.Action("Profile_Read", "Brand")",
                        "type": "POST",
                        'datatype': 'json',
                    },
                    "columns": [
                        { "data": "name" },
                        { "data": "createdby" },
                        { "data": "created" },
                        { "data": "updatedby" },
                        { "data": "updated" },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                return "<div><a type='button' class='btn btn-warning btn-sm' onclick='editbrand(" + m.row + ")'>Edit</a></div>";
                            }
                        },
                        {
                            "data": "id",
                            "render": function (d, t, f, m) {
                                return "<div><a type='button' class='btn btn-danger btn-sm' onclick='deletebrand(" + m.row + ")'>Delete</a></div>";
                            }
                        },
                    ],
                });
            } else {
                BrandTab.ajax.url("@Url.Action("Profile_Read", "Brand")").load();
            }
        }
    </script>
}